{% include "header/header.html.twig" %}

<section>
    <div class="container">
        <section id="entraideFiltre">
            <h2>S'entraider, c'est la clé !</h2>
            <div class="divRecherche">
                <input type="text" name="newsletters" class="input" placeholder="Rechercher...">
                {# <button type="submit" id="mainBtn">
                    <a href="#rechercher">Rechercher</a>
                </button> #}
            </div>
            <div class="divTri">       
                <button type="submit" id="mainBtn">
                    <a href="{{path('entraide_ajouter')}}">Poser une question</a>
                </button>
                <button type="submit" class="secondBtn" id="triBtn">Trier et afficher</button>
            </div>
            <div class="divTriAff" style="display: none";>
                <div class="cont">
                    <div class="affDate">
                        <button type="button" class="thirdBtn" id="ordreCroissantBtn">Ordre croissant</button>
                        <button type="button" class="thirdBtn" id="ordreDecroissantBtn">Ordre décroissant</button>
                    </div>
                    <hr>
                    <div class="affON">
                        <button type="button" class="thirdBtn" id="recent">Les plus récents</button>
                        <button type="button" class="thirdBtn" id="ancien">Les plus anciens</button>
                    </div>
                    <hr>
                    <div class="affON">
                        <button type="button" class="thirdBtn" id="plusCommentes">Les plus commentés</button>
                        <button type="button" class="thirdBtn" id="moinsCommentes">Les moins commentés</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="entraide">
            {% for question in questions %}
                <a id="cardEntraide" href="{{path('entraide_detail', { 'user_slug' : question.user.slug, 'question_slug' : question.slug})}}">
                    <div class="divAuteur">
                        <h5>{{question.user.pseudo}}</h5>
                        <p>Posté le <span data-date="{{ question.datePublication|date('Y-m-d H:i:s') }}">{{ question.datePublication|date('d/m/Y') }}</span></p>
                    </div>
                    <div class="divTitreQ">
                        <h4>{{question.titre}}</h4>
                    </div>
                    <div class="divImg">
                        {% if question.image %}
                            <img src="{{ asset('/uploads/photosEntraide/' ~ question.image)}}" alt="{{question.titre}}">
                        {% else %}
                            <img src="{{ asset('/uploads/photosEntraide/default.png')}}" alt="Pas d'image">
                        {% endif %}
                    </div>
                    <div class="divInfos">
                        <p><span><img src="{{ asset('/build/images/icons/bulle.png')}}" alt="Commentaire"></span>{{ question.commentaire|length }}</p>
                        <p>
                        {% if question.commentaire | length > 0 %}
                            Répondu
                            <span><img src="{{ asset('/build/images/icons/oui.png') }}" alt="Répondu"></span>
                        {% else %}
                            Pas répondu
                            <span><img src="{{ asset('/build/images/icons/non.png') }}" alt="Pas répondu"></span>
                        {% endif %}
                        </p>
                    </div>
                </a>
            {% endfor %}
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}