{% include "header/header.html.twig" %}


<section>
    <div class="container">
         <section id="entraideDImg">
         {% if question.image %}
            <span>
                <img src="{{ asset('/uploads/photosEntraide/' ~ question.image)}}" alt="">
            </span>
         {% endif %}
            <div class="divPost">
                <p>Posté par <span>{{ question.user.pseudo }}</span></p>
                <div class="divLike">
                    <p>
                        {% if question.commentaire | length > 0 %}
                            Répondu
                            <span><img src="{{ asset('/build/images/icons/oui.png') }}" alt="Répondu"></span>
                        {% else %}
                            Pas répondu
                            <span><img src="{{ asset('/build/images/icons/non.png') }}" alt="Pas répondu"></span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </section>
        <section id="entraideDetail">
            <div class="divTitre">
                <h2>{{ question.titre }}</h2>
            </div>
            <div class="divInfos">
                <p>{{ question.contenu }}</p>
            </div>
        </section>
        <section id="entraideCommentaire">
            <button type="submit" id="mainBtn">Répondre</button>
            {% for commentaire in commentaires %}
                <div class="commentaire {% if commentaire.commentaireParent %}reponse{% endif %} {% if not commentaire.image %}sans-image{% endif %}">
                    {% if commentaire.image %}
                        <div class="comImg">
                            <span>
                                <img src="{{ asset('/uploads/photosEntraide/' ~ commentaire.image) }}" alt="">
                            </span>
                        </div>
                    {% endif %}
                    <div class="comTitre">
                        <h4>{{ commentaire.titre }}</h4>
                    </div>
                    <div class="comContenu">
                        <p>{{ commentaire.contenu }}</p>
                    </div>
                    <div class="comBtn">
                        <button type="submit" id="mainBtn">Répondre</button>
                    </div>
                </div>
            {% else %}
                <p>Aucun commentaire pour le moment.</p>
            {% endfor %}
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}