{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="recetteATitre">
            <div class="divTitre">
                <h2>Donner votre réponse à {{pseudoUser}} !</h2>
            </div>
        </section>
        <section id="aideAjout">
            {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}
                <h3>{{titreQuestion}}</h3>
                <hr>
                
                {{ form_label(form.titre, 'Le titre de votre réponse') }}
                {{ form_widget(form.titre, {'attr': {'class': 'input'}}) }}

                {{ form_label(form.image, 'Photo de votre réponse si besoin') }}
                {{ form_widget(form.image, {'attr': {'class': 'input'}}) }}

                {{ form_label(form.contenu, 'Votre réponse') }}
                {{ form_widget(form.contenu, {'attr': {'class': 'input'}}) }}
                
                <button type="submit" id="mainBtn">Poster</button>
            {{ form_end(form) }}
        </section>
    </div>
</section>

{% include "footer/footer.html.twig" %}