{% include "header/header.html.twig" %}

<section>
    <div class="container">
        <section id="recetteATitre">
            <div class="divTitre">
                <h2>Poster votre recette</h2>
            </div>
        </section>
        <section id="recetteAjout">
		{{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}
            <h3>Présentation</h3>
            <hr>
            {{ form_label(form.nom, 'Nom de votre recette') }}
            {{ form_widget(form.nom, {'attr': {'class': 'input'}}) }}

            {{ form_label(form.image, 'Image') }}
            {{ form_widget(form.image, {'attr': {'class': 'input'}}) }}

            {{ form_label(form.conseil, 'Votre conseil') }}
            {{ form_widget(form.conseil, {'attr': {'class': 'input'}}) }}

            <h3>Ingrédients</h3>
            <hr>
            {{ form_label(form.nombreDePersonne, 'Nombre de personnes') }}
            {{ form_widget(form.nombreDePersonne, {'attr': {'class': 'input'}}) }}

            {{ form_label(form.ingredients, 'Ingredients') }}

            <div class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}" data-index="{{ form.ingredients|length }}">
                {% for ingredient in form.ingredients %}
                    <div class="ingredient-item">
                        {{ form_row(ingredient) }}
                        <button type="button" class="remove-ingredient">🗑️</button>
                    </div>
                {% endfor %}
                <button type="button" id="add-ingredient" class="secondBtn">Ajouter Ingrédient</button>
            </div>

            <h3>Pratique</h3>
            <hr>
            {{ form_label(form.tempsDePreparation, 'Temps de préparation (minutes)') }}
            {{ form_widget(form.tempsDePreparation, {'attr': {'class': 'input'}}) }}
            {{ form_label(form.tempsDeCuisson, 'Temps de cuisson (minutes)') }}
            {{ form_widget(form.tempsDeCuisson, {'attr': {'class': 'input'}}) }}

            <h3>Préparation</h3>
            <hr>
            <div class="etapes" data-prototype="{{ form_widget(form.etapes.vars.prototype)|e('html_attr') }}" data-index="{{ form.etapes|length }}">
                {% for etape in form.etapes %}
                    <div class="etape-item">
                        {{ form_row(etape) }}
                        <button type="button" class="remove-etape">🗑️</button>
                    </div>
                {% endfor %}
                <button type="button" id="add-etape" class="secondBtn">Ajouter Étape</button>
            </div>

			{{ form_widget (form._token) }}
            <button type="submit" id="mainBtn">Poster</button>
            {{ form_end(form, {render_rest: false}) }}
        </section>
    </div>
</section>

{% include "footer/footer.html.twig" %}