{% include "header/header.html.twig" %}

<section>
    <div class="container">
        <section id="recetteFiltre">
            <h2>Les recettes</h2>
            <div class="divRecherche">
                <input type="text" name="newsletters" class="input" placeholder="Rechercher...">
                {# <button id="mainBtn">
                    <a href="#rechercher">Rechercher</a>
                </button> #}
            </div>
            <div class="divTri">       
                <button id="mainBtn">
                    <a href="{{ path('recette_ajouter') }}">Poster une recette</a>
                </button>
                <button class="secondBtn" id="triBtn">Trier et afficher</button>
            </div>
            <div class="divTriAff" style="display: none";>
                <div class="cont">
                    <div class="affDate">
                        <button type="button" class="thirdBtn" id="ordreCroissantBtn">Ordre croissant</button>
                        <button type="button" class="thirdBtn" id="ordreDecroissantBtn">Ordre décroissant</button>
                    </div>
                    <hr>
                    <div class="affON">
                        <button type="button" class="thirdBtn" id="plusLikesBtn">Les plus likés</button>
                        <button type="button" class="thirdBtn" id="moinsLikesBtn">Les moins likés</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="recette">
            {% for recette in recettes %}
                <a id="cardRecette" href="{{ path('recette_detail', {'user_slug' : recette.user.slug, 'recette_slug' : recette.slug})}}">
                    <span><img src="{{ asset('/uploads/photosRecette/' ~ recette.image)}}" alt="{{recette.nom}}"></span>
                    <div class="cardInfo">
                        <div class="divLeft">
                            <h4>{{recette.nom}}</h4>
                            <p>{{recette.user.pseudo}}</p>
                            </div>
                        <div class="divRight">
                            <p>52</p>
                            <span><img src="{{ asset('/build/images/icons/coeur.png')}}" alt="Like"></span>
                        </div>
                    </div>
                </a>   
            {% endfor %}
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}