{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="recetteFiltre">
            <h2>Les recettes</h2>
            <div class="divRecherche">
                <input type="text" name="newsletters" class="input" placeholder="Rechercher...">
                {# <button id="mainBtn">
                    <a href="#rechercher">Rechercher</a>
                </button> #}
            </div>
            <div class="divTri">       
                <button id="mainBtn">
                    <a href="{{ path('recette_ajouter') }}">Poster une recette</a>
                </button>
                <button id="secondBtn">Trier et afficher</button>
            </div>
        </section>
        <section id="recette">
            {% for recette in recettes %}
                <a id="cardRecette" href="{{ path('recette_detail', {'user_name' : recette.user.pseudo, 'titre' : recette.nom})}}">
                    <span><img src="{{ asset('/uploads/photosRecette/' ~ recette.image)}}" alt="{{recette.nom}}"></span>
                    <div class="cardInfo">
                        <div class="divLeft">
                            <h4>{{recette.nom}}</h4>
                            <p>{{recette.user.pseudo}}</p>
                            </div>
                        <div class="divRight">
                            <p>52</p>
                            <span><img src="{{ asset('/build/images/icons/coeur.png')}}" alt="Like"></span>
                        </div>
                    </div>
                </a>   
            {% endfor %}
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}